@model List<Student>;
@{
    ViewData["Title"] = "Student Page";
    @* var students = ViewData["StudentList"] as List<Student>; *@
    var studentss = Model;
}

<div class="text-center">
    <h1 class="display-4">Welcome Student Page</h1>
    <Table class="table table-hover">
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>
                <a href="/student/add" class="btn btn-primary">Add</a>
            </th>
        </thead>
        <tbody>
            @foreach(var student in studentss)
            {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Age</td>
                <td>@student.Address</td>
                <td>Option</td>
            </tr>
            }
            
        </tbody>
    </Table>
</div>